<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur,
      explicabo?
    </p>
  </header>
  <div class="card card--secondary" style="width: 30%">
    <header class="card__header">Card title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam enim
      accusantium fuga. Sit at aut error sed sequi rerum ipsum?
    </div>
  </div>
</section>

<section class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur,
        explicabo?
      </p>
    </header>
  </div>
</section>
