<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum,
      eligendi?
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="media feature__content">
      <div class="media__image icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title">Easy Start & Managed Updates</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint illum
          iure incidunt. Nam corrupti necessitatibus culpa unde! Sint, omnis
          magnam!
        </p>
        <a href="#" class="link-arrow">Learn more</a>
      </div>
    </div>
    <img class="feature__image" src="images/easy.webp" alt="" />
  </article>
  <article class="grid grid--1x2 feature">
    <div class="media feature__content">
      <div class="media__image icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title">Simply Fast Websites</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint illum
          iure incidunt. Nam corrupti necessitatibus culpa unde! Sint, omnis
          magnam!
        </p>
        <a href="#" class="link-arrow">Learn more</a>
      </div>
    </div>
    <img class="feature__image" src="images/fast.webp" alt="" />
  </article>
  <article class="grid grid--1x2 feature">
    <div class="media feature__content">
      <div class="media__image icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title">Wordpress Made Easy</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint illum
          iure incidunt. Nam corrupti necessitatibus culpa unde! Sint, omnis
          magnam!
        </p>
        <a href="#" class="link-arrow">Learn more</a>
      </div>
    </div>
    <img class="feature__image" src="images/wordpress.webp" alt="" />
  </article>
  <article class="grid grid--1x2 feature">
    <div class="media feature__content">
      <div class="media__image icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#support"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title">24/7 Expert Support</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint illum
          iure incidunt. Nam corrupti necessitatibus culpa unde! Sint, omnis
          magnam!
        </p>
        <a href="#" class="link-arrow">Learn more</a>
      </div>
    </div>
    <img class="feature__image" src="images/support.webp" alt="" />
  </article>
</section>
