<section class="block block-footer">
  <div class="grid container">
    <div class="collapsible footer__collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">Products</h2>
        <svg
          id="Layer_1"
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 51 51"
          class="icon icon--primary collapsible__chevron"
        >
          <defs>
            <style>
              .cls-1 {
                fill: #393939;
              }
              .cls-2 {
                fill: #fff;
              }
            </style>
          </defs>
          <circle class="cls-1" cx="25.5" cy="25.5" r="25.5" />
          <rect
            class="cls-2"
            x="24.4"
            y="27.9"
            width="1.6"
            height="15.24"
            rx="0.8"
            transform="matrix(0.78, -0.63, 0.63, 0.78, -21.26, 15.39)"
          />
          <rect
            class="cls-2"
            x="33.3"
            y="27.9"
            width="1.6"
            height="15.24"
            rx="0.8"
            transform="translate(24 -21.9) rotate(37.3)"
          />
        </svg>
      </header>
      <ul class="list collapsible__content">
        <li><a class="footer__anchor" href="#">Website Hosting</a></li>
        <li><a class="footer__anchor" href="#">Free Automated</a></li>
        <li><a class="footer__anchor" href="#">Wordpress</a></li>
        <li><a class="footer__anchor" href="#">Migrations</a></li>
      </ul>
    </div>
    <div class="collapsible footer__collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">company</h2>
        <svg
          id="Layer_1"
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 51 51"
          class="icon icon--primary collapsible__chevron"
        >
          <defs>
            <style>
              .cls-1 {
                fill: #393939;
              }
              .cls-2 {
                fill: #fff;
              }
            </style>
          </defs>
          <circle class="cls-1" cx="25.5" cy="25.5" r="25.5" />
          <rect
            class="cls-2"
            x="24.4"
            y="27.9"
            width="1.6"
            height="15.24"
            rx="0.8"
            transform="matrix(0.78, -0.63, 0.63, 0.78, -21.26, 15.39)"
          />
          <rect
            class="cls-2"
            x="33.3"
            y="27.9"
            width="1.6"
            height="15.24"
            rx="0.8"
            transform="translate(24 -21.9) rotate(37.3)"
          />
        </svg>
      </header>
      <ul class="list collapsible__content">
        <li><a class="footer__anchor" href="#">About</a></li>
        <li><a class="footer__anchor" href="#">Affiliates</a></li>
        <li><a class="footer__anchor" href="#">Blog</a></li>
      </ul>
    </div>
    <div class="collapsible footer__collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">support</h2>
        <svg
          id="Layer_1"
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 51 51"
          class="icon icon--primary collapsible__chevron"
        >
          <defs>
            <style>
              .cls-1 {
                fill: #393939;
              }
              .cls-2 {
                fill: #fff;
              }
            </style>
          </defs>
          <circle class="cls-1" cx="25.5" cy="25.5" r="25.5" />
          <rect
            class="cls-2"
            x="24.4"
            y="27.9"
            width="1.6"
            height="15.24"
            rx="0.8"
            transform="matrix(0.78, -0.63, 0.63, 0.78, -21.26, 15.39)"
          />
          <rect
            class="cls-2"
            x="33.3"
            y="27.9"
            width="1.6"
            height="15.24"
            rx="0.8"
            transform="translate(24 -21.9) rotate(37.3)"
          />
        </svg>
      </header>
      <ul class="list collapsible__content">
        <li><a class="footer__anchor" href="#">Contact</a></li>
        <li><a class="footer__anchor" href="#">Knowledge Base</a></li>
        <li><a class="footer__anchor" href="#">FAQ</a></li>
      </ul>
    </div>
    <div class="collapsible footer__collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">domains</h2>
        <svg
          id="Layer_1"
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 51 51"
          class="icon icon--primary collapsible__chevron"
        >
          <defs>
            <style>
              .cls-1 {
                fill: #393939;
              }
              .cls-2 {
                fill: #fff;
              }
            </style>
          </defs>
          <circle class="cls-1" cx="25.5" cy="25.5" r="25.5" />
          <rect
            class="cls-2"
            x="24.4"
            y="27.9"
            width="1.6"
            height="15.24"
            rx="0.8"
            transform="matrix(0.78, -0.63, 0.63, 0.78, -21.26, 15.39)"
          />
          <rect
            class="cls-2"
            x="33.3"
            y="27.9"
            width="1.6"
            height="15.24"
            rx="0.8"
            transform="translate(24 -21.9) rotate(37.3)"
          />
        </svg>
      </header>
      <ul class="list collapsible__content">
        <li><a class="footer__anchor" href="#">Domain Checker</a></li>
        <li><a class="footer__anchor" href="#">Domain Transfer</a></li>
        <li><a class="footer__anchor" href="#">Free Domain</a></li>
      </ul>
    </div>
    <div class="collapsible footer__icon-container">
      <header class="block__header collapsible__header footer__logo">
        <img src="images/logo.svg" alt="" />
        <p>Copyright 2024 Mosh Hamedani</p>
      </header>
    </div>
  </div>
</section>
