<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2 class="block__heading">User-friendly Control Panel</h2>
  </header>
  <div class="grid grid--1x2 block-showcase__container">
    <img class="block-showcase__image" src="images/ipad.webp" alt="" />
    <div class="block-showcase__content">
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#computer"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint illum
            iure incidunt. Nam corrupti necessitatibus culpa unde! Sint, omnis
            magnam!
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#computer"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint illum
            iure incidunt. Nam corrupti necessitatibus culpa unde! Sint, omnis
            magnam!
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#computer"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint illum
            iure incidunt. Nam corrupti necessitatibus culpa unde! Sint, omnis
            magnam!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
